html{
    overflow-x: hidden;
}

body{
    /* Font settings */
    font-family: Arial, Helvetica;
    font-size: 15px;
    line-height: 1.5;
    color: #ffffff;

    /* Background */
    padding: 0;
    margin: 0;
    background-color: #252525;
}

/* Global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    /* border: 3px solid green;  */
}

ul{
    margin: 0;
    padding: 0;
}

a:hover{
    opacity: 1;
}

.inactive {
    opacity: 0.4;
}

.myTitle{
    margin-left: 12px;
    margin-top: 50px;
    text-emphasis: none;
    text-decoration: none;
    color: #ffffffab;
    font-size: 50px; 
}

.textBox{
    margin-left: 12px;
    text-emphasis: none;
    text-decoration: none;
    color: #ffffffab;
    font-size: 20px; 
}


/* Header */

header {
    /* width: 80%; */
    display: flex;
    justify-content: center;
    background: #1f1f1f;

}

header img{
    width: 25px; 
}

.navigation {
  list-style: none;
  width: 80%;
  margin: 0;  

  background: #1f1f1f;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-evenly;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  font-size: 30px;
}

.navigation a:hover {
  background: #252525
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
    .navigation a{
        font-size: 3.7vw;
    }

    header img{
        width: 3.2vw; 
    }
}

@media all and (max-width: 600px) {

  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
    width: 100%;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}



/* Projects */

.projectsHeader .myTitle{
    width: 70%;
    float: left;    
    /* border: 3px solid green;  */
}

/* .projectsHeader a{
    float: right;
    border: 3px solid green; 
} */

.projectsHeader .gitHub{
    float: right;
    /* border: 3px solid green;  */
    /* margin-right: 50px; */
    margin-top: 45px;
    margin-bottom: 15px;
    background-color: #2e2e2e;
    padding: 0 40px;
    float: left;

    color: #ffffffbe;
    text-decoration: none;
    font-size: 20px;
    text-align: center;

    opacity: 0.7;
}

.projectsHeader .gitHub:hover{
    opacity: 1;
}

.projects .textBox{
    display: block;
    /* margin-top: 130px; */
    margin-left: 12px;
    text-emphasis: none;
    text-decoration: none;
    color: #ffffffab;
    font-size: 20px; 
}

.projectOverview{
    background-color: #2e2e2e;
    padding: 15px;
    margin: 10px;
    float: left;
    width: 300px;
    height: 400px;

    color: #ffffffbe;
    text-decoration: none;
    font-size: 20px;
    text-align: center;

    opacity: 0.5;   
}

.projectOverview h3{
    margin: 3px;
}

.projectOverview p{
    margin: 5px;
}

.projectOverview img{
    width: 300px;
}

.projectOverview:hover{
    opacity: 1;
}

/* About me */
.pdfBox{
    width: 1200px;
    margin: auto;
}

.pdfViewer{
    width: 100%;
    height: 3100px;
}

@media screen and (max-width: 1700px) {
    .pdfBox{
        width: 100%;
        margin: auto;
    }
    
    .pdfViewer{
        width: 100%;
        height: 208vw;
    }
}

/* Footer */
footer{
    padding: 10px;
    margin-top: 0;
    color: #ffffff75;
    background-color: #1f1f1f;
    text-align: center;
}

footer .container{
    width: 300px;
    margin: auto;
}

footer img{
    width: 25px; 
}

footer .table{
    display: table;
    margin: 0 auto
}

footer li{
    list-style-type: none;
    display: inline;
    padding: 0 15px 0 15px;
    /* border: 3px solid green;  */    
}

footer .contact{
    float: right;
    margin: auto;
    overflow: hidden;
    margin-top: 15px;
    /* border: 3px solid green;  */
}

footer .author{
    float: left;
    margin-top: 5px;
    margin-bottom: 0;
    overflow: hidden;
    /* border: 3px solid green;  */
}

